# installed statics
app/static/bootstrap
app/static/font-awesome
app/static/tablesorter
app/static/jquery
app/static/jQuery.PrettyTextDiff

# installed binaries
components
venv
node_modules
virtualenv.py

# data base
app.db
db_repository

# temporary files
.DS_Store
*/.DS_Store
*.pyc

# configuration
config.py
