<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>LiquidFeedback</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">LQFB</a>
      <ul class="nav">
        <li><a href="/themen">Themen</a></li>
        <li><a href="/gliederungen">Gliederungen</a></li>
        <li><a href="/regelwerke">Regelwerke</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    <div class="hero-unit">
      <h1>LiquidFeedback</h1>
      <h2>{{ helper.unit[1] }}</h2>
      <p>
        <a href="{{ helper.LQFB_URL }}">LQFB {{ data.core_version }}</a> |
        <a href="{{ helper.API_URL }}">API {{ data.api_version }}</a>
      </p>
    </div>
    
  </div>
</body>
</html>
