<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>LQFB › Thema {{data.issue.result[0].id}}</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">LQFB</a>
      <ul class="nav">
        <li class="active"><a href="/themen">Themen</a></li>
        <li><a href="/gliederungen">Gliederungen</a></li>
        <li><a href="/regelwerke">Regelwerke</a></li>
      </ul>
    </div>
  </div>

  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/themen">Themen</a> <span class="divider">/</span></li>
    <li class="active">Thema {{data.issue.result[0].id}}</li>
  </ul>

  <div class="container-fluid">

    <div class="page-header">
      <h1>
        {% if data.issue.result[0].state == "voting" %}
        <a href="{{helper.settings.lqfb_url}}/vote/list.html?issue_id={{data.issue.result[0].id}}" class="btn btn-warning btn-large pull-right" type="button" style="margin-top: 1.5em;">abstimmen</a>
        {% endif %}
        {% if data.issue.result[0].state == "admission" %}
        <i class="icon-certificate icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "discussion" %}
        <i class="icon-comments icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "verification" %}
        <i class="icon-lock icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "voting" %}
        <i class="icon-list-ol text-info icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "canceled_revoked_before_accepted" %}
        <i class="icon-reply muted icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "canceled_issue_not_accepted" %}
        <i class="icon-thumbs-down muted icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "canceled_after_revocation_during_discussion" %}
        <i class="icon-reply muted icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "canceled_after_revocation_during_verification" %}
        <i class="icon-reply muted icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "calculation" %}
        in Auszählung
        {% elif data.issue.result[0].state == "canceled_no_initiative_admitted" %}
        <i class="icon-thumbs-down muted icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "finished_without_winner" %}
        <i class="icon-remove text-error icon-2x pull-left"></i>
        {% elif data.issue.result[0].state == "finished_with_winner" %}
        <i class="icon-ok text-success icon-2x pull-left"></i>
        {% endif %}
        <small>{{ helper.policy[data.issue.result[0].policy_id] }}</small><br>Thema {{data.issue.result[0].id}}
      </h1>
    </div>

    <div class="progress" style="height: 2.2em; line-height: 1.1em;">

      {% if data.issue.result[0].state == "canceled_revoked_before_accepted" or data.issue.result[0].state == "canceled_issue_not_accepted" %}
      <div class="bar bar-info" style="width: 25%;">
        <strong>neu</strong><br>
        {{ data.issue.result[0].created|nicedate("%x") }} - {{ data.issue.result[0].closed|nicedate("%x") }}
      </div>
      {% elif data.issue.result[0].created %}
      <div class="bar bar-primary" style="width: 25%;">
        <strong>neu</strong><br>
        {% if data.issue.result[0].accepted %}
        {{ data.issue.result[0].created|nicedate("%x") }} - {{ data.issue.result[0].accepted|nicedate("%x") }}
        {% else %}
        seit {{ data.issue.result[0].created|nicedate("%x") }}
        {% endif %}
      </div>
      {% endif %}

      {% if data.issue.result[0].state == "canceled_after_revocation_during_discussion" %}
      <div class="bar bar-info" style="width: 25%;">
        <strong>Diskussion</strong><br>
        {{ data.issue.result[0].accepted|nicedate("%x") }} - {{ data.issue.result[0].closed|nicedate("%x") }}
      </div>
      {% elif data.issue.result[0].accepted %}
      <div class="bar bar-primary" style="width: 25%;">
        <strong>Diskussion</strong><br>
        {% if data.issue.result[0].half_frozen %}
        {{ data.issue.result[0].accepted|nicedate("%x") }} - {{ data.issue.result[0].half_frozen|nicedate("%x") }}
        {% else %}
        seit {{ data.issue.result[0].accepted|nicedate("%x") }}
        {% endif %}
      </div>
      {% endif %}

      {% if data.issue.result[0].half_frozen %}
      <div class="bar bar-info" style="width: 25%;">
        <strong>eingefroren</strong><br>
        {% if data.issue.result[0].fully_frozen %}
        {{ data.issue.result[0].half_frozen|nicedate("%x") }} - {{ data.issue.result[0].fully_frozen|nicedate("%x") }}
        {% else %}
        seit {{ data.issue.result[0].half_frozen|nicedate("%x") }}
        {% endif %}
      </div>
      {% endif %}

      {% if data.issue.result[0].state == "canceled_no_initiative_admitted" %}
      <!-- keine Initiative zugelassen -->
      {% elif data.issue.result[0].fully_frozen %}
      {% if data.issue.result[0].state == "finished_with_winner" %}
      <div class="bar bar-success" style="width: 25%;">
      {% elif data.issue.result[0].state == "finished_without_winner" %}
      <div class="bar bar-danger" style="width: 25%;">
      {% else %}
      <div class="bar bar-warning" style="width: 22%;">
      {% endif %}
        <strong>Abstimmung</strong><br>
        {% if data.issue.result[0].closed %}
        {{ data.issue.result[0].fully_frozen|nicedate("%x") }} - {{ data.issue.result[0].closed|nicedate("%x") }}
        {% else %}
        seit {{ data.issue.result[0].fully_frozen|nicedate("%x") }}
        {% endif %}
      </div>
      {% endif %}
    </div>


    <h2>Quoren</h2>
    <ul>
      <li>Grundgesamtheit im Bereich {{ helper.area[data.issue.result[0].area_id] }}: {{ data.issue.result[0].population }}</li>

      <li>Themen-Quorum im Regelwerk <a href="/regelwerke/{{data.issue.result[0].policy_id}}">{{ helper.policy[data.issue.result[0].policy_id] }}</a>: {{  ((data.policy.result[0].issue_quorum_num / data.policy.result[0].issue_quorum_den)*data.issue.result[0].population)|round(0,'ceil')|int }} ({{ ((data.policy.result[0].issue_quorum_num / data.policy.result[0].issue_quorum_den)*100)|round(1) }}% der Grundgesamtheit)</li>
      
      <li>Initiativen-Quroum im Regelwerk <a href="/regelwerke/{{data.issue.result[0].policy_id}}">{{ helper.policy[data.issue.result[0].policy_id] }}</a>: {{  ((data.policy.result[0].initiative_quorum_num / data.policy.result[0].initiative_quorum_den)*data.issue.result[0].population)|round(0,'ceil')|int }} ({{ ((data.policy.result[0].initiative_quorum_num / data.policy.result[0].initiative_quorum_den)*100)|round(1) }}% der Grundgesamtheit)</li>
      
      {% if data.issue.result[0].voter_count %}
      <li>
        Abstimmungsteilnehmer: {{ data.issue.result[0].voter_count }} ({{ ((data.issue.result[0].voter_count / data.issue.result[0].population)*100) | round(1) }}% der Grundgesamtheit)
      </li>
      {% endif %}
    </ul>

    <h2>Initiativen</h2>

    {% if data.issue.result[0].status_quo_schulze_rank %}

    <h3>Abgestimmt</h3>
    <ol>
      {% for p in data.initiative.result | sort(reverse=False,attribute='rank') %}
      {% if p.admitted %}
      <li><strong><a href="/initiative/{{p.id}}">{{p.name}}</a></strong> 

        {% if p.winner %}
          <span class="label label-success">Gewinner</span>
        {% else %}
        {% endif %}

        {% if p.eligible %}
        {% else %}
          <span class="label label-important">Mehrheit nicht erreicht</span>
        {% endif %}
        
        {% if p.better_than_status_quo %}
        {% else %}
          <span class="label label-important">schlechter als Status Quo</span>
        {% endif %}
        
      </li>
      {% endif %}
      {% endfor %}
    </ol>

    <h3>Nicht abgestimmt</h3>
    <ul>
      {% for p in data.initiative.result | sort(reverse=True,attribute='supporter_count') %}
      {% if not p.admitted %}
      <li>
        <strong><a href="/initiative/{{p.id}}">{{p.name}}</a></strong>
        {% if p.revoked %}
        <span class="label">zurückgezogen</span>
        {% else %}
        <span class="label">Quroum nicht erreicht</span>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    {% else %}

    {% for p in data.initiative.result | sort(reverse=True,attribute='supporter_count') %}
    <li>
      <strong><a href="/initiative/{{p.id}}">{{p.name}}</a></strong>
      {% if p.admitted %}
      <span class="label label-warning">in Abstimmung</span>
      {% else %}
      {% if p.revoked %}
      <span class="label">zurückgezogen</span>
      {% else %}
      <span class="label">Quroum nicht erreicht</span>
      {% endif %}
      {% endif %}
    </li>
    {% endfor %}

    {% endif %}


    <h2>Historie</h2>
    <ul>
      {% if data.issue.result[0].created %}
      <li>neu: {{ data.issue.result[0].created|nicedate }}</li>
      {% endif %}
      {% if data.issue.result[0].accepted %}
      <li>in Diskussion: {{ data.issue.result[0].accepted|nicedate }}</li>
      {% endif %}
      {% if data.issue.result[0].half_frozen %}
      <li>eingefroren: {{ data.issue.result[0].half_frozen|nicedate }}</li>
      {% endif %}
      {% if data.issue.result[0].fully_frozen %}
      <li>Beginn der Abstimmung: {{ data.issue.result[0].fully_frozen|nicedate }}</li>
      {% endif %}
      {% if data.issue.result[0].closed %}
      <li>geschlossen: {{ data.issue.result[0].closed|nicedate }}</li>
      {% endif %}
    </ul>

  </div>

</body>
</html>
