{% extends "_base.html" %}

{% block title %}LQFB › Mitglied {{ data.member.result[0].id }}{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/mitglieder">Mitglieder</a> <span class="divider">/</span></li>
    {% if data.member.result[0].name %}
    <li class="active">{{ data.member.result[0].name }}</li>
    {% else %}
    <li class="active">Mitglied {{ data.member.result[0].id }}</li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><small>Mitglied Nr. {{ data.member.result.0.id }}</small><br><i class="icon-user"></i> {{ data.member.result[0].name }}</h1>
    </div>


    {% if data.member_image.result.1 %}
    <img class="img-rounded pull-right" src="data:{{data.member_image.result.1.content_type}};base64,{{data.member_image.result.1.data}}"/>
    {% elif data.member_image.result.1 %}
    <img class="img-rounded pull-right" src="data:{{data.member_image.result.0.content_type}};base64,{{data.member_image.result.0.data}}"/>
    {% endif %}

    <ul>
      <li>{{data.member.result.0.internal_posts}}</li>
      <li>{{data.member.result.0.organizational_unit}}</li>
      <li>{{data.member.result.0.realname}}</li>
      <li>{{data.member.result.0.birthday}}</li>
      <li>{{data.member.result.0.address}}</li>
      <li>{{data.member.result.0.email}}</li>
      <li>{{data.member.result.0.xmpp_address}}</li>
      <li>{{data.member.result.0.website}}</li>
      <li>{{data.member.result.0.phone}}</li>
      <li>{{data.member.result.0.mobile_phone}}</li>
      <li>{{data.member.result.0.profession}}</li>
      <li>{{data.member.result.0.external_memberships}}</li>
      <li>{{data.member.result.0.external_posts}}</li>
    </ul>

    <p class="well">{{data.member.result.0.statement|safe}}</p>

{% endblock %}
