<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>LQFB › Regelwerke</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">LQFB</a>
      <ul class="nav">
        <li><a href="/themen"><i class="icon-list-alt"></i> Themen</a></li>
        <li><a href="/gliederungen"><i class="icon-sitemap"></i> Gliederungen</a></li>
        <li class="active"><a href="/regelwerke"><i class="icon-book"></i> Regelwerke</a></li>
      </ul>
    </div>
  </div>

  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Regelwerke</li>
  </ul>

  <div class="container-fluid">

    <div class="page-header">
      <h1><i class="icon-book"></i> Regelwerke</h1>
    </div>

    <ul>
      {% for p in data.result %}
      <li><a href="/regelwerke/{{p.id}}"><strong>{{p.name}}</strong></a></li>
      {% endfor %}
    </ul>

  </div>
</body>
</html>
