<!DOCTYPE html>
<html lang="de">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.extends.css" rel="stylesheet">

  <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    {% block navigation %}
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">LiquidFeedback</a>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Inhalte
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="/themen"><i class="icon-list-alt"></i> Themen</a></li>
              <li><a tabindex="-1" href="#"><i class="icon-file-alt"></i> Initiativen</a></li>
              <li><a tabindex="-1" href="/themenbereiche"><i class="icon-columns"></i> Themenbereiche</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Organisation
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="/gliederungen"><i class="icon-sitemap"></i> Gliederungen</a></li>
              <li><a tabindex="-1" href="/regelwerke"><i class="icon-book"></i> Regelwerke</a></li>
              {% if session.current_access_level != 'anonymous' %}
              <li><a tabindex="-1" href="/regelwerke"><i class="icon-user"></i> Mitglieder</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Aktuelles
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="/ereignisse"><i class="icon-info-sign"></i> Ereignisse</a></li>
              <li><a tabindex="-1" href="{{ url_for('show_ical' , _external = True) }}"><i class="icon-calendar"></i> Abstimmkalender</a></li>
              <li><a tabindex="-1" href="/statistiken"><i class="icon-bar-chart"></i> Statistiken</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          {% if session.current_member_id %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <style>
              ul.nav img.avatarpic { height: 2em; margin-top: -0.75em; margin-bottom: -0.75em; }
              </style>
              {{ session.current_member_id|avatar|safe }}
              {{ session.current_member_id|member(False,False)|safe }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="/mitglieder/{{session.current_member_id}}"><i class="icon-user"></i> Profilseite</a></li>
              <li><a tabindex="-1" href="/einstellungen"><i class="icon-cog"></i> Einstellungen</a></li>
            </ul>
          </li>
          {% else %}
          <li><a tabindex="-1" href="/einstellungen"><i class="icon-cog"></i> Einstellungen</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endblock %}

    <div class="container-fluid">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{message|safe}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <div class="push"></div>

    </div>
  </div>

  <div class="footer">
    <style>
    .footer a { color: #999; }
    </style>
    <div class="container-fluid">
      <p class="muted" style="padding-top:10px;">
        {% if session.current_access_level %}
        <i class="{{ helper.enums.access[session.current_access_level].icon}}"></i> <a href="/einstellungen">{{ helper.enums.access[session.current_access_level].name }}</a>
        {% endif %}
        {% if ourl %}
        <span class="pull-right"><a href="{{config.LQFB_URL}}/{{ourl}}" target="lqfb_window">LQFB</a></span>
        {% endif %}
      </p>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $(".alert").alert();

    setTimeout(function () {
      $('.alert').fadeOut()
    }, 5000);
  });
  </script>

</body>
</html>
