<!DOCTYPE html>
<html lang="de">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.extends.css" rel="stylesheet">

  <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    {% block navigation %}
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">LQFB</a>
        <ul class="nav">
          <li><a href="/themen"><i class="icon-list-alt"></i> Themen</a></li>
          <li><a href="/gliederungen"><i class="icon-sitemap"></i> Gliederungen</a></li>
          <li><a href="/regelwerke"><i class="icon-book"></i> Regelwerke</a></li>
          <li><a href="/themenbereiche"><i class="icon-columns"></i> Themenbereiche</a></li>
          <li><a href="/ereignisse"><i class="icon-info-sign"></i> Ereignisse</a></li>
          {% if session.current_access_level != 'anonymous' %}
          <li><a href="/mitglieder"><i class="icon-user"></i> Mitglieder</a></li>
          {% endif %}
          <li><a href="/einstellungen"><i class="icon-cog"></i> Einstellungen</a></li>
        </ul>
      </div>
    </div>
    {% endblock %}

    <div class="container-fluid">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{message|safe}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <div class="push"></div>

    </div>
  </div>

  <div class="footer">
    <style>
    .footer a { color: #999; }
    </style>
    <div class="container-fluid">
      <p class="muted" style="padding-top:10px;">
        {{helper.requests}} Anfragen,
        {% if session.current_access_level %}
        <i class="{{ helper.enums.access[session.current_access_level].icon}}"></i> <a href="/einstellungen">{{ helper.enums.access[session.current_access_level].name }}</a>
        {% if session.current_member_id %}
        {{ session.current_member_id|member(True)|safe }}
        {% endif %}
        {% else %}
        <i class="{{ helper.enums.access['anonymous'].icon}}"></i> {{ helper.enums.access['anonymous'].name }}
        {% endif %}
        {% if ourl %}
        <span class="pull-right"><a href="{{helper.settings.lqfb_url}}/{{ourl}}" target="lqfb_window">LQFB</a></span>
        {% endif %}
      </p>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $(".alert").alert();

    setTimeout(function () {
      $('.alert').fadeOut()
    }, 5000);
  });
  </script>

</body>
</html>
