{% extends "_base.html" %}

{% block title %}LQFB › Ereignisse{% endblock %}

{% block head %}
{{ super() }}

<style>
.time {
  font-size: 10px;
  color:gray;
  border-bottom: 1px solid #E7EBF2;
  min-width:350px;
  height:20px;
  padding-bottom: 5px;
}
#timeline {
  width:800px;
  list-style-type: none;
  background: url('/static/timeline/timeline.png') top center repeat-y;
  margin: 0 auto;
  padding:20px;
  margin-bottom:10px;
}

#timeline > li {
  width:375px;
  -moz-border-radius:2px;
  border-radius:2px;
  webkit-border-radius:2px;
  border:1px solid #c3ccdf;
  padding:5px;
  background-color:#FFF;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#timeline > li:nth-of-type(odd){
  clear: both;
  float:right; 
}

#timeline > li:nth-of-type(odd),
#timeline > li:nth-of-type(even) {
  margin:-10px 0 20px 0;
}

#timeline > li:nth-of-type(even) .corner {
  position: absolute;
  display:block;
  margin-left:380px;
  width:20px;
  height:15px;
  background:url('/static/timeline/right.png');
}
#timeline > li:nth-of-type(odd) .corner {
  position:absolute;
  display:block;
  margin-left:-25px;
  width:20px;
  height:15px;
  background:url('/static/timeline/left.png');
}
</style>
{% endblock %}

{% block navigation %}
{{ super() }}
<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
  <li class="active">Ereignisse</li>
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1><i class="icon-info-sign"></i> Ereignisse</h1>
</div>

<form class="form-horizontal">
  <style>
  .control-group { margin-bottom: 0em !important; }
  .control-label { font-weight: bold; }
  </style>

  <fieldset>
      
    <div class="control-group">
      <label class="control-label">Phasen</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="discussion">
          Diskussionsphase
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="verification">
          eingefroren
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="voting">
          Abstimmung
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Initiativen</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="suggestion_created">
          neue Anregung
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="new_draft_created">
          neuer Entwürfe
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="initiative_created_in_existing_issue">
          neue Initiativen
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="initiative_revoked">
          Initiativen zurückgezogen
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Themen</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="finished_with_winner">
          abgestimmt mit Gewinner
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="finished_without_winner">
          abgestimmt ohne Gewinner
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="canceled_revoked_before_accepted">
          abgebrochen
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="open_issue">
          offen
        </label>
        <label class="checkbox inline">
          <input type="checkbox" checked="checked" id="closed_issue">
          beendet
        </label>
      </div>
    </div>

  </fieldset>
</form>

<script>
$('#suggestion_created').click(function() {
  $('.suggestion_created').toggle(function() { });
});
$('#new_draft_created').click(function() {
  $('.new_draft_created').toggle(function() { });
});
$('#initiative_created_in_existing_issue').click(function() {
  $('.initiative_created_in_existing_issue').toggle(function() { });
  $('.initiative_created_in_new_issue').toggle(function() { });
});
$('#discussion').click(function() {
  $('.discussion.issue_state_changed').toggle(function() { });
});
$('#voting').click(function() {
  $('.voting.issue_state_changed').toggle(function() { });
});
$('#initiative_revoked').click(function() {
  $('.initiative_revoked').toggle(function() { });
});
$('#verification').click(function() {
  $('.verification.issue_state_changed').toggle(function() { });
});
$('#canceled_revoked_before_accepted').click(function() {
  $('.canceled_revoked_before_accepted').toggle(function() { });
});
$('#finished_without_winner').click(function() {
  $('.finished_without_winner').toggle(function() { });
});
$('#finished_with_winner').click(function() {
  $('.finished_with_winner').toggle(function() { });
});
$('#closed_issue').click(function() {
  $('.closed_issue').toggle(function() { });
});
$('#open_issue').click(function() {
  $('.open_issue').toggle(function() { });
});
</script>
    
<style>
ol#timeline li.finished_with_winner  { background-color: #dff0d8; }
ol#timeline li.finished_with_winner i { color: #468847; }
ol#timeline li.finished_without_winner { background-color: #f2dede; }
ol#timeline li.finished_without_winner i { color: #b94a48; }
ol#timeline li.canceled_revoked_before_accepted { background-color: #eee; }
ol#timeline li.canceled_revoked_before_accepted i { color: #888; }
ol#timeline li.voting { background-color: #fcf8e3; }
ol#timeline li.voting i { color: #c09853; }
ol#timeline li i { color: #888; }
</style>

<ol id="timeline">
  {% for p in data.event.result | sort(reverse=True,attribute='occurrence') %}
  <li class="{{p.state}} {{p.event}}{% if db_load('/issue', q={'issue_id': p.issue_id}).result.0.closed %} closed_issue{% else %} open_issue{% endif %}">
    <div class="time">
      {{ p.occurrence|mynicedate|safe }}
    </div>
    <span class="corner"></span>
    <p>
      {% if p.event == "issue_state_changed" %}
      <i class="{{helper.enums.issue[p.state].icon}} icon-2x"></i>
      {% if p.state == "discussion" %}
      {{p.issue_id|issue(True)|safe}} ist jetzt in der <strong>Diskussionsphase</strong>.
      {% elif p.state == "verification" %}
      {{p.issue_id|issue(True)|safe}} ist jetzt <strong>eingefroren</strong>
      <ul>
        {% for p2 in data.initiative.result if p2.issue_id == p.issue_id %}
        {% if p2.supporter_count >= p.issue_id|quorum %}
        <li>{{p2.id|initiative(True)|safe}}</li>
        {% else %}
        <li style="text-decoration: line-through;">{{p2.id|initiative(True)|safe}}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% elif p.state == "voting" %}
      {{p.issue_id|issue(True)|safe}} wird jetzt <strong>abgestimmt</strong>.
      <ul class="unstyled">
        {% for p2 in data.initiative.result if p2.issue_id == p.issue_id %}
        {% if p2.admitted == True %}
        <li>{{p2.id|initiative(True)|safe}}</li>
        {% elif p2.supporter_count >= p.issue_id|quorum %}
        <li style="text-decoration: line-through;">{{p2.id|initiative(True)|safe}}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% elif p.state == "finished_with_winner" %}
      Die Abstimmung von {{p.issue_id|issue(True)|safe}} wurde <strong>mit einem Gewinner</strong> beendet:
      <ol>
      {% for p2 in data.initiative.result|sort(reverse=False,attribute='rank') %}
      {% if p2.issue_id == p.issue_id and p2.eligible == True %}
      <li>
        {% if p2.winner %}<strong>{% endif %}
        {{p2.id|initiative(True)|safe}}
        {% if p2.winner %}</strong>{% endif %}
      </li>
      {% endif %}
      {% endfor %}
      </ol>
      {% elif p.state == "finished_without_winner" %}
      Die Abstimmung von {{p.issue_id|issue(True)|safe}} wurde <strong>ohne einen Gewinner</strong> beendet.
      {% elif p.state == "canceled_revoked_before_accepted" %}
      {{p.issue_id|issue(True)|safe}} wurde in der Neu-Phase <strong>abgebrochen</strong>.
      {% else %}
      Der Zustand von {{p.issue_id|issue(True)|safe}} hat sich zu <strong>{{ p.state }}</strong> geändert.
      {% endif %}
        
      {% else %}
      <i class="{{helper.enums.event[p.event].icon}} icon-2x"></i>
      {% if p.event == "initiative_created_in_new_issue" %}
      {{p.issue_id|issue(True)|safe}} wurde von {{p.member_id|member(True)|safe}} durch Hinzufügen von {{p.initiative_id|initiative(True)|safe}} <strong>neu angelegt</strong>.
      {% elif p.event == "initiative_created_in_existing_issue" %}
      {{p.member_id|member(True)|safe}} hat {{p.initiative_id|initiative(True)|safe}} zu {{p.issue_id|issue(True)|safe}} <strong>hinzugefügt</strong>.
      {% elif p.event == "suggestion_created" %}
      {{p.member_id|member(True)|safe}} hat eine <strong>Anregung</strong> zu {{p.initiative_id|initiative(True)|safe}} ({{p.issue_id|issue(True)|safe}}) geschrieben: {{p.suggestion_id|suggestion|safe}}.
      {% elif p.event == "initiative_revoked" %}
      {{p.member_id|member(True)|safe}} hat {{p.initiative_id|initiative(True)|safe}} aus {{p.issue_id|issue(True)|safe}} <strong>zurückgezogen</strong>.
      {% elif p.event == "new_draft_created" %}
      {{p.member_id|member(True)|safe}} hat einen <strong>neuen Entwurf</strong> von {{p.initiative_id|initiative(True)|safe}} ({{p.issue_id|issue(True)|safe}}) geschrieben.
      {% else %}
      {{ p.event }}
      {% endif %}
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ol>
{% endblock %}
