{% extends "_base.html" %}

{% block title %}LQFB{% endblock %}

{% block content %}
    <div class="hero-unit">
      <i class="icon-plus-sign pull-right" style="margin-top: -0.2em; font-size: 200px; color: #ddd;"></i>
      <h1>LiquidFeedback</h1>
      <h2 class="faded">{{ 1|unit(False)|safe }}</h2>
      <p>
        <a href="{{ helper.settings.lqfb_url }}">LQFB {{ data.core_version }}</a> |
        <a href="{{ helper.settings.api_url }}">API {{ data.api_version }}</a>
      </p>
    </div>
    
    <section class="clearfix">
      <div class="row" style="text-align: center; color: #333;">
        <div class="span4">
          <h2><i class="icon-list-alt"></i> <a href="/themen" style="color: #333">Themen</a></h2>
        </div>
        <div class="span4">
          <h2><i class="icon-sitemap"></i> <a href="/gliederungen" style="color: #333">Gliederungen</a></h2>
        </div>
        <div class="span4">
          <h2><i class="icon-book"></i> <a href="/regelwerke" style="color: #333">Regelwerke</a></h2></h2>
        </div>
      </div>
      <div class="row" style="text-align: center; color: #bbb;">
        <div class="span4">
          <h2><i class="icon-file-alt"></i> Initiativen</h2>
        </div>
        <div class="span4">
          <h2><i class="icon-columns" style="color: #333"></i> <a href="/themenbereiche" style="color: #333">Themenbereiche</a></h2></h2>
        </div>
        <div class="span4">
          <h2><i class="icon-info-sign" style="color: #333"></i> <a href="/ereignisse" style="color: #333">Ereignisse</a></h2></h2>
        </div>
      </div>
      <div class="row" style="text-align: center; color: #333;">
        <div class="span4">
          <h2><i class="icon-cog"></i> <a href="/einstellungen" style="color: #333">Einstellungen</a></h2>
        </div>
        <div class="span4" style="color: #333;">
          <h2><i class="icon-user"></i> <a href="/mitglieder" style="color: #333;">Mitglieder</a></h2>
        </div>
      </div>
    </section>
    
{% endblock %}
