{% extends "_base.html" %}

{% block title %}LQFB › Initiativen › {{data.initiative.result.0.name}}{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/diff_match_patch/diff_match_patch.js" type="text/javascript"></script>
<script src="/static/jQuery.PrettyTextDiff/jquery.pretty-text-diff.min.js" type="text/javascript"></script>
{% endblock %}

{% block navigation %}
{{ super() }}
<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
  <li><a href="/themen/{{data.initiative.result.0.issue_id}}">Thema {{data.initiative.result.0.issue_id}}</a> <span class="divider">/</span></li>
  <li class="active">{{data.initiative.result.0.name}}</li>
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    <small>Initiative {{data.initiative.result.0.id}}</small>
    <br><i class="icon-file-alt"></i> {{data.initiative.result.0.name}}
  </h1>
</div>

{% if session.current_access_level == 'member' %}
<h2>Initiatoren</h2>
<ul class="inline">
{% for p in data.initiator.result %}
<li>{{ p.member_id|member(True)|safe }}</li>
{% endfor %}
</ul>
<br>
<br>
{% endif %}

{# collecting data for the supporter bar #}
{% if data.initiative.result.0.supporter_count > data.initiative.result.0.issue_id|quorum %}
{% set balken1 = data.initiative.result.0.issue_id|quorum %}
{% set balken2 = data.initiative.result.0.supporter_count - data.initiative.result.0.issue_id|quorum %}
{% else %}
{% set balken1 = data.initiative.result.0.supporter_count %}
{% set balken2 = 0 %}
{% endif %}

{# the supporter bar #}
<div class="progress">
  {# color first bar depending on quorum #}
  {% if balken1 < data.initiative.result.0.issue_id|quorum %}
  {% if data.issue.result.0.closed %}
  {% set additional_style = " bar-danger" %}
  {% else %}
  {% set additional_style = " bar-warning" %}
  {% endif %}
  {% else %}
  {% set additional_style = "" %}
  {% endif %}
  <div class="bar{{ additional_style }}" style="width: {{ ((balken1 / data.issue.result.0.population) * 100)|round(0)|int }}%">{{balken1}}</div>
  {% if balken2 == 0 %}
  <div class="bar bar-transparent" style="width: {{ (((data.initiative.result.0.issue_id|quorum - balken1) / data.issue.result.0.population) * 100)|round(0)|int }}%%"></div>
  <div class="bar bar-border-right"></div>
  {% else %}
  <div class="bar bar-border-right"></div>
  <div class="bar bar-success" style="width: {{ ((balken2 / data.issue.result.0.population) * 100)|round(0)|int }}%">{{balken2}}</div>
  {% endif %}
</div>

{% if data.initiative.result.0.schulze_rank %}
<h2>Abstimmung</h2>
<ul>
  <li>
    Abstimmungs-Rang: {{ data.initiative.result.0.rank }}
  </li>
  <li>
    Schulze-Rang: {{ data.initiative.result.0.schulze_rank }} (Schulze-Rang des Status Quo: {{ data.issue.result.0.status_quo_schulze_rank }})
  </li>
  <li>
    Zustimmungen: {{ data.initiative.result.0.positive_votes }}
  </li>
  <li>
    Ablehnungen: {{ data.initiative.result.0.negative_votes }}
  </li>
</ul>

<h3>Vergleiche</h3>
      
<ul>
  {% for p in data.battle.result if p.winning_initiative_id == data.initiative.result.0.id %}
  <li>schlägt {{ p.losing_initiative_id|initiative(True)|safe }} ({{p.count}})</li>
  {% endfor %}
  {% for p in data.battle.result if p.losing_initiative_id == data.initiative.result.0.id %}
  <li>geschlagen von {{ p.winning_initiative_id|initiative(True)|safe }} ({{p.count}})</li>
  {% endfor %}
</ul>
{% endif %}

<h2>Informationen</h2>
<ul>
  <li>
    {{ data.initiative.result.0.supporter_count }} Unterstützer
  </li>
  <li>
    {{ data.initiative.result.0.issue_id|quorum }} Initiativquorum
  </li>
  <li>
    {{ data.issue.result.0.population }} Grundgesamtheit
  </li>
  <li>Diskussion mit den Antragstellern: 
    {% if data.initiative.result.0.discussion_url|is_url %}
    <a href="{{ data.initiative.result.0.discussion_url }}">{{ data.initiative.result.0.discussion_url }}</a>
    {% else %}
    {{ data.initiative.result.0.discussion_url }}
    {% endif %}
  </li>
</ul>

<h2>Text</h2>

<ul class="nav nav-tabs" id="drafts">
  {% set i = data.draft.result|length %}
  {% for draft in data.draft.result|sort(attribute='id', reverse=True) %}
  <li><a href="#draft{{i}}">Entwurf {{i}}{% if i == data.draft.result|length %} (aktuell){% endif %}</a></li>
  {% set i = i-1 %}
  {% endfor %}
</ul>

<style>
.draft h1 { font-size: 2em; }
.draft h2 { font-size: 1.5em; }
.draft h3 { font-size: 1.25em; }

ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

del {
    background-color: #ffc6c6;
}
</style>
 
<div class="tab-content">
  {% set i = data.draft.result|length %}
  {% for draft in data.draft.result|sort(attribute='id', reverse=True) %}
  <div class="tab-pane" id="draft{{i}}">
    <div class="well draft" id="content-draft{{i}}">
    {{draft.content|safe}}
    </div>
    {% if i > 1 %}
    <input type="button" class="btn btn-primary" value="Vergleich mit vorherigem Entwurf" id="diff{{i}}-{{i-1}}"></input>
    {% endif %}
    <p>Entwurf von {{draft.created|nicedate(timeago=False)}}</p>
  </div>
  {% set i = i-1 %}
  {% endfor %}
</div>

<script>
{% set i = data.draft.result|length %}
{% for draft in data.draft.result|sort(attribute='id', reverse=True) %}
{% if i > 1 %}
$("#diff{{i}}-{{i-1}}").click(function () {
    $(".tab-content").prettyTextDiff({
      originalContainer: "#content-draft{{i-1}}",
      changedContainer: "#content-draft{{i}}",
      diffContainer: "#content-draft{{i}}"
    });
});
{% endif %}
{% set i = i-1 %}
{% endfor %}
</script>

<script>
  $(function () {
    $('#drafts a:first').tab('show');
  })

  $('#drafts a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>


{% if data.suggestion.result|length > 0 %}
<h2>Anregungen</h2>

<ul class="nav nav-tabs" id="suggestions">
  {% set i = 1 %}
  {% for suggestion in data.suggestion.result|sort(attribute='proportional_order') %}
  <li><a href="#suggestion{{suggestion.id}}">Anregung {{i}}</a></li>
  {% set i = i+1 %}
  {% endfor %}
</ul>

<div class="tab-content">
  {% for suggestion in data.suggestion.result|sort(attribute='proportional_order') %}
  <div class="tab-pane" id="suggestion{{suggestion.id}}">
    <p class="lead">{{suggestion.name}}</p>
    {% if suggestion.content %}
    <div class="well">
      {{suggestion.content|safe}}
    </div>
    {% endif %}
    <p>Anregung von {{suggestion.created|nicedate(timeago=False)}}</p>

    {% set balken1 = suggestion.plus2_unfulfilled_count + suggestion.plus2_fulfilled_count %}
    {% set balken2 = suggestion.plus1_unfulfilled_count + suggestion.plus1_fulfilled_count %}
    {% set balken4 = suggestion.minus1_unfulfilled_count + suggestion.minus1_fulfilled_count %}
    {% set balken5 = suggestion.minus2_unfulfilled_count + suggestion.minus2_fulfilled_count %}
    {% set balken3 = data.initiative.result.0.supporter_count - balken1 - balken2 - balken4 - balken5 %}
    {% set balken1_l = ((balken1 / data.initiative.result.0.supporter_count) * 100)|round(0)|int %}
    {% set balken2_l = ((balken2 / data.initiative.result.0.supporter_count) * 100)|round(0)|int %}
    {% set balken4_l = ((balken4 / data.initiative.result.0.supporter_count) * 100)|round(0)|int %}
    {% set balken5_l = ((balken5 / data.initiative.result.0.supporter_count) * 100)|round(0)|int %}
    {% set balken3_l = 100 - balken1_l - balken2_l - balken4_l - balken5_l %}

    <div class="progress">
      {% if balken1 > 0 %}
      <div class="bar bar-success" style="width: {{ balken1_l }}%">{{balken1}}</div>
      {% endif %}

      {% if balken2 > 0 %}
      <div class="bar bar-success" style="opacity: 0.75; width: {{ balken2_l }}%">{{balken2}}</div>
      {% endif %}

      {% if balken3 > 0 %}
      <div class="bar bar-transparent" style="width: {{ balken3_l }}%">{{balken3}}</div>
      {% endif %}

      {% if balken4 > 0 %}
      <div class="bar bar-danger" style="opacity: 0.75; width: {{ balken4_l }}%">{{balken4}}</div>
      {% endif %}

      {% if balken5 > 0 %}
      <div class="bar bar-danger" style="width: {{ balken5_l }}%">{{balken5}}</div>
      {% endif %}
    </div>

    <ul>
      <li>Meinung "muss": {{suggestion.plus2_unfulfilled_count + suggestion.plus2_fulfilled_count}} ({{suggestion.plus2_fulfilled_count}} sehen Anregung umgesetzt)</li>
      <li>Meinung "soll": {{suggestion.plus1_unfulfilled_count + suggestion.plus1_fulfilled_count}} ({{suggestion.plus1_fulfilled_count}} sehen Anregung umgesetzt)</li>
      <li>keine Meinung: {{ data.initiative.result.0.supporter_count - suggestion.plus2_unfulfilled_count - suggestion.plus2_fulfilled_count - suggestion.plus1_unfulfilled_count - suggestion.plus1_fulfilled_count - suggestion.minus1_unfulfilled_count - suggestion.minus1_fulfilled_count - suggestion.minus2_unfulfilled_count - suggestion.minus2_fulfilled_count}}
      <li>Meinung "soll nicht": {{suggestion.minus1_unfulfilled_count + suggestion.minus1_fulfilled_count}} ({{suggestion.minus1_fulfilled_count}} sehen Anregung umgesetzt)</li>
      <li>Meinung "darf nicht": {{suggestion.minus2_unfulfilled_count + suggestion.minus2_fulfilled_count}} ({{suggestion.minus2_fulfilled_count}} sehen Anregung umgesetzt)</li>
    </ul>
  </div>
  {% endfor %}
</div>

<script>
  $(function () {
    $('#suggestions a:first').tab('show');
  })

  $('#suggestions a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
{% endif %}

{% endblock %}
