{% extends "_base.html" %}

{% block title %}LQFB › Themen › Thema {{data.id}}{% endblock %}

{% block navigation %}
{{super()}}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/themen">Themen</a> <span class="divider">/</span></li>
    <li class="active">Thema {{data.id}}</li>
  </ul>
{% endblock %}

{% block content %}
<style>
.issue_progress_legend {
  background: none; border: none; box-shadow: none; -moz-box-shadow: none; height: 1.5em; line-height: 1.1em;
}
.issue_progress_legend .bar {
  text-shadow: none;
  font-size: 1em;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: none;
  color: #000;
}
</style>

<div class="page-header">
  <h1>
    {% if data.state == "voting" %}
    <a href="{{config.LQFB_URL}}/vote/list.html?issue_id={{data.id}}" target="lqfb_window" class="btn btn-warning btn-large pull-right" type="button" style="margin-top: 1.5em;">abstimmen</a>
    {% endif %}
    <i class="{{helper.enums.issue[data.state].icon}}{% if helper.enums.issue[data.state].color %} {{helper.enums.issue[data.state].color}}{% endif %} icon-2x pull-left"></i>
    <small>{{data.policy.name}}</small><br><i class="icon-list-alt"></i> Thema {{data.id}}
  </h1>
</div>

<div style="width: calc(100% - 3em); width: -moz-calc(100% - 3em); width: -webkit-calc(100% - 3em);">
  <div class="progress issue_progress_legend">
    <div class="bar bar-info" style="width: {{data.policy.admission_time_percentage}}%;">
      {% if data.state == 'admission' %}
      <strong>neu</strong>
      {% else %}
      neu
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.discussion_time_percentage}}%;">
      {% if data.state == 'discussion' %}
      <strong>Diskussion</strong>
      {% else %}
      Diskussion
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.verification_time_percentage}}%;">
      {% if data.state == 'verification' %}
      <strong>eingefroren</strong>
      {% else %}
      eingefroren
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.voting_time_percentage}}%;">
      {% if data.state == 'voting' %}
      <strong>Abstimmung</strong>
      {% else %}
      Abstimmung
      {% endif %}
    </div>
  </div>

  <div class="progress" style="height: 2em; margin-top: -1.5em;">
    <!-- neu -->
    <div class="bar bar-primary" style="width: {{data.admission_progress/100.0 * data.policy.admission_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.admission_progress)/100.0 * data.policy.admission_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- Diskussion -->
    <div class="bar bar-primary" style="width: {{data.discussion_progress/100.0 * data.policy.discussion_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.discussion_progress)/100.0 * data.policy.discussion_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- eingefroren -->
    <div class="bar bar-info" style="width: {{data.verification_progress/100.0 * data.policy.verification_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.verification_progress)/100.0 * data.policy.verification_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- Abstimmung -->
    <div class="bar bar-warning" style="width: {{data.voting_progress/100.0 * data.policy.voting_time_percentage - 0.5}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.voting_progress)/100.0 * data.policy.voting_time_percentage}}%;"></div>
  </div>

  <span>&nbsp;</span>
  <span style="top: -1em; margin-left: -3em; position: relative; left: {{data.policy.admission_time_percentage}}%;">
    {{data.accepted_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -5.4em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage}}%;">
    {{data.half_frozen_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -5em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage + data.policy.verification_time_percentage}}%;">
    {{data.fully_frozen_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -6em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage + data.policy.verification_time_percentage + data.policy.voting_time_percentage}}%;">
    {{data.closed_deadline|nicedate("%x", timeago=False)}}
  </span>
</div>

{% if data.closed %}
<i style="position: relative; margin-top: -1.9em;" class="{{helper.enums.issue[data.state].icon}}{% if helper.enums.issue[data.state].color %} {{helper.enums.issue[data.state].color}}{% endif %} icon-3x pull-right"></i>
{% endif %}

<h2>Quoren</h2>
<ul>
  <li>Grundgesamtheit im Bereich {{data.area_id|area|safe}}: {{data.population}}</li>
  <li>Themen-Quorum im Regelwerk {{data.policy_id|policy|safe}}: {{data.issue_quorum}} ({{data.policy.issue_quorum_percentage}}% der Grundgesamtheit)</li>
  <li>Initiativen-Quroum im Regelwerk {{data.policy_id|policy|safe}}: {{data.initiative_quorum}} ({{data.policy.initiative_quorum_percentage}}% der Grundgesamtheit)</li>
  {% if data.voter_count %}
  <li>Abstimmungsteilnehmer: {{data.voter_count}} ({{data.voter_percentage}}% der Grundgesamtheit)</li>
  {% endif %}
</ul>

<h2>Initiativen</h2>

{% if data.status_quo_schulze_rank %}

<h3>Abgestimmt</h3>
<ol>
  {% for p in data.initiatives | sort(reverse=False,attribute='rank') %}
  {% if p.admitted %}
  <li><strong>{{p.id|initiative(True)|safe}}</strong>
    {% if p.winner %}
    <span class="label label-success">Gewinner</span>
    {% endif %}

    {% if not p.eligible %}
    <span class="label label-important">Mehrheit nicht erreicht</span>
    {% endif %}
        
    {% if not p.better_than_status_quo %}
    <span class="label label-important">nicht besser als Status Quo</span>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ol>

<h3>Nicht abgestimmt</h3>
<ul>
  {% for p in data.initiatives | sort(reverse=True,attribute='supporter_count') %}
  {% if not p.admitted %}
  <li>
    <strong>{{p.id|initiative(True)|safe}}</strong>
    {% if p.revoked %}
    <span class="label">zurückgezogen</span>
    {% else %}
    <span class="label">Quroum nicht erreicht</span>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Abstimmtabelle</h3>

<style>
.battletable th {
   background-color: #f9f9f9;
}
</style>

<table class="table table-bordered battletable">
  <thead>
  <tr>
    <th></th>
    {% for p in data.initiatives if p.admitted %}
    <th>i{{p.id}}</th>
    {% endfor %}
    <th>SQ</th>
  </tr>
  </thead>
  <tbody>
  {% for p1 in data.initiatives if p1.admitted %}
  <tr>
    <th>{{p1.id|initiative(True)|safe}}</th>
    {% for p2 in data.initiatives if p2.admitted %}
      {% if p1.id == p2.id %}
      <td>-</td>
      {% else %}
      <td{% if data.battle_table[p1.id][p2.id] > data.battle_table[p2.id][p1.id] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[p1.id][p2.id] < data.battle_table[p2.id][p1.id] %} style="background: #f2dede;"{% endif %}>
        <span {% if p1.winner %}style="font-weight: bold;"{% endif %} data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[p1.id][p2.id]}} Mitglieder bevorzugen Initiative '{{p1.name}}' gegenüber '{{p2.name}}'.">{{data.battle_table[p1.id][p2.id]}}</span>
      </td>
      {% endif %}
      {% endfor %}
      <td{% if data.battle_table[p1.id][0] > data.battle_table[0][p1.id] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[p1.id][0] < data.battle_table[0][p1.id] %} style="background: #f2dede;"{% endif %}>
        <span {% if p1.winner %}style="font-weight: bold;"{% endif %} data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[p1.id][0]}} Mitglieder bevorzugen Initiative '{{p1.name}}' gegenüber dem Status Quo.">{{data.battle_table[p1.id][0]}}</span>
      </td>
  </tr>
  {% endfor %}
  <th>Status Quo</th>
  {% for p in data.initiatives if p.admitted %}
  <td{% if data.battle_table[0][p.id] > data.battle_table[p.id][0] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[0][p.id] < data.battle_table[p.id][0] %} style="background: #f2dede;"{% endif %}>
    <span data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[0][p.id]}} Mitglieder bevorzugen den Status Quo gegenüber Initiative '{{p.name}}'.">{{data.battle_table[0][p.id]}}</span>
  </td>
  {% endfor %}
  <td>-</td>
  </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
{% else %}

{% for p in data.initiatives | sort(reverse=True,attribute='supporter_count') %}
<li>
  <strong>{{p.id|initiative(True)|safe}}</strong>
  {% if p.admitted %}
  <span class="label label-warning">in Abstimmung</span>
  {% else %}
  {% if p.revoked %}
  <span class="label">zurückgezogen</span>
  {% elif data.state == "voting" %}
  <span class="label">Quroum nicht erreicht</span>
  {% endif %}
  {% endif %}
</li>
{% endfor %}

{% endif %}


<h2>Historie</h2>
<ul>
  {% if data.created %}
  <li>neu: {{data.created|nicedate(timeago=False)}}</li>
  {% if not data.accepted %}
  <li>
    <strong>Spätestes Ende der Phase neu: {{data.accepted_deadline|nicedate(timeago=False)}} ({{data.accepted_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.accepted %}
  <li>in Diskussion: {{data.accepted|nicedate(timeago=False)}}</li>
  {% if not data.half_frozen %}
  <li>
    <strong>Ende der Diskussion: {{data.half_frozen_deadline|nicedate(timeago=False)}} ({{data.half_frozen_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.half_frozen %}
  <li>eingefroren: {{data.half_frozen|nicedate(timeago=False)}}</li>
  {% if not data.fully_frozen %}
  <li>
    <strong>Ende der Phase Eingefroren: {{data.fully_frozen_deadline|nicedate(timeago=False)}} ({{data.fully_frozen_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.fully_frozen %}
  <li>Beginn der Abstimmung: {{data.fully_frozen|nicedate(timeago=False)}}</li>
  {% if not data.closed %}
  <li>
    <strong>Ende der Abstimmung: {{data.closed_deadline|nicedate(timeago=False)}} ({{data.closed_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.closed %}
  <li>geschlossen: {{data.closed|nicedate(timeago=False)}}</li>
  {% endif %}
</ul>

{% if session.current_access_level == 'member' %}
<h2>Interessenten</h2>

{% if data.interest.latest %}
<h3>Aktuell</h3>
<ul class="unstyled">
  {% for p in data.interest.latest|sort(attribute='weight', reverse=True) %}
  <li>
    {{p.member_id|member(True)|safe}}
    {% if p.weight > 1 %}
    {{(p.weight-1)|delegation|safe}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if data.interest.end_of_admission %}
<h3>am Ende der Neuphase</h3>
<ul class="unstyled">
  {% for p in data.interest.end_of_admission|sort(attribute='weight', reverse=True) %}
  <li>
    {{p.member_id|member(True)|safe}}
    {% if p.weight > 1 %}
    {{(p.weight-1)|delegation|safe}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if data.interest.half_freeze %}
<h3>am Ende der Diskussion</h3>
<ul class="unstyled">
  {% for p in data.interest.half_freeze|sort(attribute='weight', reverse=True) %}
  <li>
    {{p.member_id|member(True)|safe}}
    {% if p.weight > 1 %}
    {{(p.weight-1)|delegation|safe}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if data.interest.full_freeze %}
<h3>zu Beginn der Abstimmung</h3>
<ul class="unstyled">
  {% for p in data.interest.full_freeze|sort(attribute='weight', reverse=True) %}
  <li>
    {{p.member_id|member(True)|safe}}
    {% if p.weight > 1 %}
    {{(p.weight-1)|delegation|safe}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endif %}

{% endblock %}
