{% extends "_base.html" %}

{% block title %}LQFB › Themen › Thema {{data.id}}{% endblock %}

{% block navigation %}
{{super()}}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/themen">Themen</a> <span class="divider">/</span></li>
    <li class="active">Thema {{data.id}}</li>
  </ul>
{% endblock %}

{% block content %}
<style>
.issue_progress_legend {
  background: none; border: none; box-shadow: none; -moz-box-shadow: none; height: 1.5em; line-height: 1.1em;
}
.issue_progress_legend .bar {
  text-shadow: none;
  font-size: 1em;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: none;
  color: #000;
}
</style>

<div class="page-header">
  <h1>
    {% if data.state == "voting" %}
    <a href="{{config.LQFB_URL}}/vote/list.html?issue_id={{data.id}}" target="lqfb_window" class="btn btn-warning btn-large pull-right" type="button" style="margin-top: 1.5em;">abstimmen</a>
    {% endif %}
    <i class="{{helper.enums.issue[data.state].icon}}{% if helper.enums.issue[data.state].color %} {{helper.enums.issue[data.state].color}}{% endif %} icon-2x pull-left"></i>
    <small>{{data.policy.name}}</small><br><i class="icon-list-alt"></i> Thema {{data.id}}
  </h1>
</div>

  <div class="progress issue_progress_legend">
    <div class="bar bar-info" style="width: {{data.policy.admission_time_percentage}}%;">
      {% if data.state == 'admission' %}
      <strong>neu</strong>
      {% else %}
      neu
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.discussion_time_percentage}}%;">
      {% if data.state == 'discussion' %}
      <strong>Diskussion</strong>
      {% else %}
      Diskussion
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.verification_time_percentage}}%;">
      {% if data.state == 'verification' %}
      <strong>eingefroren</strong>
      {% else %}
      eingefroren
      {% endif %}
    </div>
    <div class="bar bar-info" style="width: {{data.policy.voting_time_percentage}}%;">
      {% if data.state == 'voting' %}
      <strong>Abstimmung</strong>
      {% else %}
      Abstimmung
      {% endif %}
    </div>
  </div>

  <div class="progress" style="height: 2em; margin-top: -1.5em;">
    <!-- neu -->
    <div class="bar bar-primary" style="width: {{data.admission_progress/100.0 * data.policy.admission_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.admission_progress)/100.0 * data.policy.admission_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- Diskussion -->
    <div class="bar bar-primary" style="width: {{data.discussion_progress/100.0 * data.policy.discussion_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.discussion_progress)/100.0 * data.policy.discussion_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- eingefroren -->
    <div class="bar bar-info" style="width: {{data.verification_progress/100.0 * data.policy.verification_time_percentage}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.verification_progress)/100.0 * data.policy.verification_time_percentage}}%;"></div>
    <div class="bar bar-border-right"></div>

    <!-- Abstimmung -->
    <div class="bar bar-warning" style="width: {{data.voting_progress/100.0 * data.policy.voting_time_percentage - 0.5}}%;"></div>
    <div class="bar bar-transparent" style="width: {{(100.0 - data.voting_progress)/100.0 * data.policy.voting_time_percentage}}%;"></div>
  </div>

  <span>&nbsp;</span>
  <span style="top: -1em; margin-left: 0em; position: relative; left: -0.5em;">
    {{data.created|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -8.5em; position: relative; left: {{data.policy.admission_time_percentage}}%;">
    {{data.accepted_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -5.4em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage}}%;">
    {{data.half_frozen_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -5em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage + data.policy.verification_time_percentage}}%;">
    {{data.fully_frozen_deadline|nicedate("%x", timeago=False)}}
  </span>
  <span style="top: -1em; margin-left: -8.5em; position: relative; left: {{data.policy.admission_time_percentage + data.policy.discussion_time_percentage + data.policy.verification_time_percentage + data.policy.voting_time_percentage}}%;">
    {{data.closed_deadline|nicedate("%x", timeago=False)}}
  </span>

<h2>Initiativen</h2>

{% if data.status_quo_schulze_rank %}

<h3>Abstimmungsergebnis</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th style="width: 100%"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for p in data.initiatives | sort(reverse=False,attribute='rank') %}
  {% if p.admitted %}
  <tr{% if p.winner %} class="success"{% endif %}{% if not p.eligible %} class="error"{% endif %}>
    <td style="text-align: center;">
      {% if p.winner %}
      <span class="badge badge-success">1</span>
      {% else %}
      <strong>{{p.rank}}</strong>
      {% endif %}
    </td>
    <td>
      <strong>{{p.id|initiative(True)|safe}}</strong>

      {% if p.winner %}
      <span class="label label-success">Gewinner</span>
      {% endif %}

      {% if not p.eligible %}
      <span class="label label-important">Mehrheit nicht erreicht</span>
      {% endif %}
        
      {% if not p.better_than_status_quo %}
      <span class="label label-important">nicht besser als Status Quo</span>
      {% endif %}
    </td>
    <td>
      <div class="progress" style="width: 100px; height: 1em; margin-bottom: -1em; margin-top: 0.2em;" data-toggle="tooltip" rel="tooltip" title="{{p.positive_votes}} Zustimmungen ({{p.vote_distribution2.0}}%), {{p.absention_votes}} Enthaltungen, {{p.negative_votes}} Ablehnungen ({{p.vote_distribution2.1}}%)">
        <div class="bar bar-success" style="width: {{p.vote_distribution3.0}}%;"></div>
        <div class="bar bar-transparent" style="width: {{p.vote_distribution3.1}}%;"></div>
        <div class="bar bar-danger" style="width: {{p.vote_distribution3.2}}%;"></div>
      </div>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  {% for p in data.initiatives | sort(reverse=True,attribute='supporter_count') %}
  {% if not p.admitted %}
  <tr style="background-color: #eee;">
    <td></td>
    <td>
      {% if p.revoked %}
      <del>{{p.id|initiative(True)|safe}}</del>
      <span class="label">zurückgezogen</span>
      {% else %}
      {{p.id|initiative(True)|safe}}
      <span class="label">Quroum nicht erreicht</span>
      {% endif %}
    </td>
    <td></td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>

<h3>Abstimmtabelle</h3>

<table class="table table-condensed">
  <thead>
  <tr>
    <th></th>
    <th></th>
    {% for p in data.initiatives | sort(reverse=False,attribute='rank') %}
    {% if p.admitted %}
    <th>{{p.rank}}</th>
    {% endif %}
    {% endfor %}
    <th>SQ</th>
  </tr>
  </thead>
  <tbody>
  {% for p1 in data.initiatives | sort(reverse=False,attribute='rank') %}
  {% if p1.admitted %}
  <tr>
    <th>{{p1.id|initiative(True)|safe}}</th>
    <th style="text-align: right;">{{p1.rank}}</th>
    {% for p2 in data.initiatives | sort(reverse=False,attribute='rank') %}
    {% if p2.admitted %}
      {% if p1.id == p2.id %}
      <td>-</td>
      {% else %}
      <td{% if data.battle_table[p1.id][p2.id] > data.battle_table[p2.id][p1.id] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[p1.id][p2.id] < data.battle_table[p2.id][p1.id] %} style="background: #f2dede;"{% endif %}>
        <span {% if p1.winner %}style="font-weight: bold;"{% endif %} data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[p1.id][p2.id]}} Mitglieder bevorzugen Initiative '{{p1.name}}' gegenüber '{{p2.name}}'.">{{data.battle_table[p1.id][p2.id]}}</span>
      </td>
      {% endif %}
      {% endif %}
      {% endfor %}
      <td{% if data.battle_table[p1.id][0] > data.battle_table[0][p1.id] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[p1.id][0] < data.battle_table[0][p1.id] %} style="background: #f2dede;"{% endif %}>
        <span {% if p1.winner %}style="font-weight: bold;"{% endif %} data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[p1.id][0]}} Mitglieder bevorzugen Initiative '{{p1.name}}' gegenüber dem Status Quo.">{{data.battle_table[p1.id][0]}}</span>
      </td>
  </tr>
  {% endif %}
  {% endfor %}
  <th>Status Quo</th>
  <th style="text-align: right;">SQ</th>
  {% for p in data.initiatives | sort(reverse=False,attribute='rank') %}
  {% if p.admitted %}
  <td{% if data.battle_table[0][p.id] > data.battle_table[p.id][0] %} style="background: #dff0d8;"{% endif %}{% if data.battle_table[0][p.id] < data.battle_table[p.id][0] %} style="background: #f2dede;"{% endif %}>
    <span data-toggle="tooltip" rel="tooltip" title="{{data.battle_table[0][p.id]}} Mitglieder bevorzugen den Status Quo gegenüber Initiative '{{p.name}}'.">{{data.battle_table[0][p.id]}}</span>
  </td>
  {% endif %}
  {% endfor %}
  <td>-</td>
  </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

{% else %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th style="width: 100%"></th>
      {% if data.voting_progress == 0 %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  {% for p in data.initiatives | sort(reverse=True,attribute='supporter_count') %}
  <tr{% if p.revoked %} style="background-color: #f9f9f9;"{% endif %}>
    <td>
      <strong>{{p.id|initiative(True)|safe}}</strong>
      {% if p.admitted %}
      <span class="label label-warning">in Abstimmung</span>
      {% endif %}

      {% if p.revoked %}
      <span class="label">zurückgezogen</span>
      {% endif %}

      {% if not p.revoked and data.state == 'discussion' and p.supporter_count < data.initiative_quorum %}
      <span class="label label-warning">Quroum noch nicht erreicht</span>
      {% endif %}

      {% if not p.revoked and data.state == 'admission' and p.supporter_count < data.issue_quorum %}
      <span class="label label-warning">Quroum noch nicht erreicht</span>
      {% endif %}
      
      {% if data.state == 'canceled_issue_not_accepted' or data.state == 'canceled_no_initiative_admitted' %}
      <span class="label label-important">Quroum nicht erreicht</span>
      {% endif %}
    </td>
    {% if data.voting_progress == 0 %}
    <td>
      {% if not p.revoked %}
      <div class="progress" style="width: 100px; height: 1em; line-height: 1em; margin-bottom: -1em; margin-top: 0.2em;">
        {% if p.supporter_percentage >= 100 %}
        <div class="bar bar-success" style="width: 100%;">erreicht</div>
        {% else %}
        {% if data.state == 'canceled_issue_not_accepted' or data.state == 'canceled_no_initiative_admitted' %}
        <div class="bar bar-danger" style="width: {{p.supporter_percentage}}%;">{{p.supporter_count}}</div>
        {% else %}
        <div class="bar bar-warning" style="width: {{p.supporter_percentage}}%;">{{p.supporter_count}}</div>
        {% endif %}
        <div class="bar bar-transparent" style="width: {{100.0 - p.supporter_percentage}}%;">{{p.supporter_missing}}</div>
        {% endif %}
      </div>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  <tbody>
  </tbody>
</table>

{% endif %}

<h2>Quoren</h2>
<ul>
  <li>Grundgesamtheit im Bereich {{data.area_id|area|safe}}: {{data.population}}</li>
  <li>Themen-Quorum im Regelwerk {{data.policy_id|policy|safe}}: {{data.issue_quorum}} ({{data.policy.issue_quorum_percentage}}% der Grundgesamtheit)</li>
  <li>Initiativen-Quroum im Regelwerk {{data.policy_id|policy|safe}}: {{data.initiative_quorum}} ({{data.policy.initiative_quorum_percentage}}% der Grundgesamtheit)</li>
  {% if data.voter_count %}
  <li>Abstimmungsteilnehmer: {{data.voter_count}} ({{data.voter_percentage}}% der Grundgesamtheit)</li>
  {% endif %}
</ul>

<h2>Historie</h2>
<ul>
  {% if data.created %}
  <li>neu: {{data.created|nicedate(timeago=False)}}</li>
  {% if not data.accepted %}
  <li>
    <strong>Spätestes Ende der Phase neu: {{data.accepted_deadline|nicedate(timeago=False)}} ({{data.accepted_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.accepted %}
  <li>in Diskussion: {{data.accepted|nicedate(timeago=False)}}</li>
  {% if not data.half_frozen %}
  <li>
    <strong>Ende der Diskussion: {{data.half_frozen_deadline|nicedate(timeago=False)}} ({{data.half_frozen_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.half_frozen %}
  <li>eingefroren: {{data.half_frozen|nicedate(timeago=False)}}</li>
  {% if not data.fully_frozen %}
  <li>
    <strong>Ende der Phase Eingefroren: {{data.fully_frozen_deadline|nicedate(timeago=False)}} ({{data.fully_frozen_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.fully_frozen %}
  <li>Beginn der Abstimmung: {{data.fully_frozen|nicedate(timeago=False)}}</li>
  {% if not data.closed %}
  <li>
    <strong>Ende der Abstimmung: {{data.closed_deadline|nicedate(timeago=False)}} ({{data.closed_deadline|mynicedate}})</strong>
  </li>
  {% endif %}
  {% endif %}

  {% if data.closed %}
  <li>geschlossen: {{data.closed|nicedate(timeago=False)}}</li>
  {% endif %}
</ul>

{% if session.current_access_level == 'member' %}

<h2>Interessenten</h2>

<ul class="nav nav-tabs" id="interest">
  {% if data.interest_snapshots.latest %}
  <li><a href="#interest_latest">Aktuell ({{data.interest_members.latest}}{{data.interest_delegates.latest|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.end_of_admission %}
  <li><a href="#interest_end_of_admission">Ende der Neuphase ({{data.interest_members.end_of_admission}}{{data.interest_delegates.end_of_admission|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.half_freeze %}
  <li><a href="#interest_half_freeze">Ende der Diskussion ({{data.interest_members.half_freeze}}{{data.interest_delegates.half_freeze|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.full_freeze %}
  <li><a href="#interest_full_freeze">Beginn der Abstimmung ({{data.interest_members.full_freeze}}{{data.interest_delegates.full_freeze|delegation(False)}})</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  {% if data.interest_snapshots.latest %}
  <div class="tab-pane" id="interest_latest">
    <ul class="inline">
      {% for p in data.interest_snapshots.latest|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.end_of_admission %}
  <div class="tab-pane" id="interest_end_of_admission">
    <ul class="inline">
      {% for p in data.interest_snapshots.end_of_admission|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.half_freeze %}
  <div class="tab-pane" id="interest_half_freeze">
    <ul class="inline">
      {% for p in data.interest_snapshots.half_freeze|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.full_freeze %}
  <div class="tab-pane" id="interest_full_freeze">
    <ul class="inline">
      {% for p in data.interest_snapshots.full_freeze|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

<script>
  $(function () {
    $('#interest a:first').tab('show');
  })

  $('#interest a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>

<h2>Teilnehmer</h2>

<ul class="nav nav-tabs" id="population">
  {% if data.interest_snapshots.latest %}
  <li><a href="#population_latest">Aktuell ({{data.population_members.latest}}{{data.population_delegates.latest|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.end_of_admission %}
  <li><a href="#population_end_of_admission">Ende der Neuphase ({{data.population_members.end_of_admission}}{{data.population_delegates.end_of_admission|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.half_freeze %}
  <li><a href="#population_half_freeze">Ende der Diskussion ({{data.population_members.half_freeze}}{{data.population_delegates.half_freeze|delegation(False)}})</a></li>
  {% endif %}
  {% if data.interest_snapshots.full_freeze %}
  <li><a href="#population_full_freeze">Beginn der Abstimmung ({{data.population_members.full_freeze}}{{data.population_delegates.full_freeze|delegation(False)}})</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  {% if data.interest_snapshots.latest %}
  <div class="tab-pane" id="population_latest">
    <ul class="inline">
      {% for p in data.population_snapshots.latest|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.end_of_admission %}
  <div class="tab-pane" id="population_end_of_admission">
    <ul class="inline">
      {% for p in data.population_snapshots.end_of_admission|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.half_freeze %}
  <div class="tab-pane" id="population_half_freeze">
    <ul class="inline">
      {% for p in data.population_snapshots.half_freeze|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if data.interest_snapshots.full_freeze %}
  <div class="tab-pane" id="population_full_freeze">
    <ul class="inline">
      {% for p in data.population_snapshots.full_freeze|sort(attribute='weight', reverse=True) %}
      <li>{{p.member_id|member(True)|safe}} {{(p.weight-1)|delegation|safe}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

<script>
  $(function () {
    $('#population a:first').tab('show');
  })

  $('#population a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>

{% endif %}

{% endblock %}
