{% extends "_base.html" %}

{% block title %}LQFB › Mitglieder › {% if data.member.result[0].name %}{{ data.member.result[0].name }}{% else %}Mitglied {{ data.member.result[0].id }}{% endif %}{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/mitglieder">Mitglieder</a> <span class="divider">/</span></li>
    {% if data.member.result[0].name %}
    <li class="active">{{ data.member.result[0].name }}</li>
    {% else %}
    <li class="active">Mitglied {{ data.member.result[0].id }}</li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><small>Mitglied Nr. {{ data.member.result.0.id }}</small><br>{{ data.member.result.0.id|avatar|safe }} {{ data.member.result[0].name }}</h1>
    </div>

    {% for pic in data.member_image.result if pic.image_type == "photo" %}
    <img class="img-rounded pull-right" src="data:{{pic.content_type}};base64,{{pic.data}}"/>
    {% else %}
    {% for pic in data.member_image.result if pic.image_type == "avatar" %}
    <img class="img-rounded pull-right" src="data:{{pic.content_type}};base64,{{pic.data}}"/>
    {% endfor %}
    {% endfor %}

    <h2>Daten</h2>

    <ul>
      {% if data.member.result.0.realname %}
      <li>Realname: {{data.member.result.0.realname}}</li>
      {% endif %}

      {% if data.member.result.0.internal_posts %}
      <li>Interne Ämter: {{data.member.result.0.internal_posts}}</li>
      {% endif %}

      {% if data.member.result.0.organizational_unit %}
      <li>Organisationseinheit: {{data.member.result.0.organizational_unit}}</li>
      {% endif %}

      {% if data.member.result.0.birthday %}
      <li>Geburtstag: {{data.member.result.0.birthday|nicedate("%x",False)}}</li>
      {% endif %}

      {% if data.member.result.0.address %}
      <li>Adresse: {{data.member.result.0.address}}</li>
      {% endif %}

      {% if data.member.result.0.email %}
      <li>E-Mail: <a href="mailto:{{data.member.result.0.email}}">{{data.member.result.0.email}}</a></li>
      {% endif %}

      {% if data.member.result.0.xmpp_address %}
      <li>XMPP: <a href="xmpp:{{data.member.result.0.xmpp_address}}">{{data.member.result.0.xmpp_address}}</a></li>
      {% endif %}

      {% if data.member.result.0.website %}
      <li>Website: <a href="{{data.member.result.0.website}}">{{data.member.result.0.website}}</a></li>
      {% endif %}

      {% if data.member.result.0.phone %}
      <li>Telefon: {{data.member.result.0.phone}}</li>
      {% endif %}

      {% if data.member.result.0.mobile_phone %}
      <li>Mobil: {{data.member.result.0.mobile_phone}}</li>
      {% endif %}

      {% if data.member.result.0.profession %}
      <li>Beruf: {{data.member.result.0.profession}}</li>
      {% endif %}

      {% if data.member.result.0.external_memberships %}
      <li>Externe Mitgliedschaften: {{data.member.result.0.external_memberships}}</li>
      {% endif %}

      {% if data.member.result.0.external_posts %}
      <li>Externe Ämter: {{data.member.result.0.external_posts}}</li>
      {% endif %}

      {% if data.member.result.0.last_activity %}
      <li>letzte Aktivität: {{data.member.result.0.last_activity|nicedate("%A, %x",False)}} ({{data.member.result.0.last_activity|mynicedate(coarse=True)}})</li>
      {% endif %}
      
      {% if data.member.result.0.created %}
      <li>Account erstellt: {{data.member.result.0.created|nicedate("%A, %x",False)}} ({{data.member.result.0.created|mynicedate(coarse=True)}})</li>
      {% endif %}
      
      <li>Aktiviert (Mitgliedschaften, Unterstützungen und Abstimmungen werden derzeit gezählt): {{ data.member.result.0.active }}</li>
      <li>Gesperrt (Nutzer kann sich nicht einloggen): {{ data.member.result.0.locked }}</li>
    </ul>

    {% for p in data.member_history.result %}
    <p>Namensänderung am {{p.until|nicedate("%A, %x",False)|safe}} - vorheriger Name: <strong>{{p.name}}</strong>.</p>
    {% endfor %}

    {% if data.member.result.0.statement %}
    <p class="well">{{data.member.result.0.statement|safe}}</p>
    {% endif %}

    <h2>Gliederungen und Themenbereiche</h2>
    <h3>Gliederungen</h3>
    <ul>
    {% for p in data.privilege.result if p.voting_right %}
    <li>{{ p.unit_id|unit(True)|safe }}</li>
    {% else %}
    <li>kein Stimmrecht</li>
    {% endfor %}
    </ul>

    <h3>Themenbereiche</h3>
    <ul>
    {% for p in data.membership.result %}
    <li>{{ p.area_id|area(True)|safe }}</li>
    {% else %}
    <li>keine Mitgliedschaft</li>
    {% endfor %}
    </ul>

    <h2>Delegationen</h2>
    <h3>Eingehende Delegationen</h3>
    <ul>
    {% for p in data.delegation.result if p.trustee_id == data.member.result[0].id %}
    <li>
      {{ p.truster_id|member(True)|safe }}
      {% if p.scope == "unit" %}
      ({{ p.unit_id|unit(True)|safe }})
      {% elif p.scope == "area" %}
      ({{ p.area_id|area(True)|safe }})
      {% else %}
      ({{ p.issue_id|issue(True)|safe }})
      {% endif %}
    </li>
    {% else %}
    <li>keine eingehenden Delegationen</li>
    {% endfor %}
    </ul>

    <h3>Ausgehende Delegationen</h3>
    <ul>
    {% for p in data.delegation.result if p.truster_id == data.member.result[0].id %}
    {% if p.trustee_id %}
    <li>{{ p.trustee_id|member(True)|safe }}
      {% if p.scope == "unit" %}
      ({{ p.unit_id|unit(True)|safe }})
      {% elif p.scope == "area" %}
      ({{ p.area_id|area(True)|safe }})
      {% else %}
      ({{ p.issue_id|issue(True)|safe }})
      {% endif %}
    </li>
    {% endif %}
    {% else %}
    <li>keine ausgehenden Delegationen</li>
    {% endfor %}
    </ul>

    <h2>Aktivität</h2>
    <h3>Initiator</h3>
    <ul>
    {% for p in data.initiator.result %}
    <li>{{ p.initiative_id|initiative(True)|safe }} in {{ fob.initiative.id[p.initiative_id].issue_id|issue(True)|safe }}</li>
    {% else %}
    <li>keine Initiativen initiiert</li>
    {% endfor %}
    </ul>
    
    <h3>Sonstiges</h3>
    <ul>
    {% for p in data.event.result if p.member_id == data.member.result[0].id %}
    <li><i class="{{ helper.enums.event[p.event].icon }}"></i> {{ helper.enums.event[p.event].name }}
      {% if p.initiative_id %}
      zu {{ p.initiative_id|initiative(True)|safe }} in
      {% endif %}
      {{ p.issue_id|issue(True)|safe }}
    ({{ p.occurrence|mynicedate }})</li>
    {% else %}
    <li>keine Aktivität</li>
    {% endfor %}
    </ul>

    <h3>Interesse</h3>
    <ul>
      {% for p in data.interest.result|sort(attribute='issue_id') %}
      <li>{{ p.issue_id|issue(True)|safe }} ({{fob.issue.id[p.issue_id].area_id|area(True)|safe}})</li>
      {% else %}
      <li>kein Interesse</li>
      {% endfor %}
    </ul>

    <h2>Abstimmungen</h2>

    <h3>direkte Teilnahme</h3>
    <ul>
    {% for p in data.vote.result|groupby('issue_id') %}
    <li style="padding-bottom: 0.5em;">{{ p.grouper|issue(True)|safe }} ({{fob.issue.id[p.grouper].area_id|area(True)|safe}})
      {% for p2 in data.voter.result if p2.issue_id == p.grouper and p2.weight != 1 %}
      {{ (p2.weight-1)|delegation|safe }}
      {% endfor %}

      <ul class="unstyled">
      {% for p2 in p.list|sort(attribute='grade', reverse=True) %}
        <li>
          {{ p2.initiative_id|initiative(True)|safe }}: {{ p2.grade|vote|safe }}
          {% if fob.initiative.id[p2.initiative_id].winner %}
          <i class="icon-trophy"></i>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% for p2 in data.voter.result if p2.issue_id == p.grouper and p2.comment != None %}
      <i class="icon-comment-alt"></i>&nbsp;{{ p2.comment|safe }}<br>
      {% endfor %}
    </li>
    {% else %}
    <li>keine direkte Abstimmung</li>
    {% endfor %}
    </ul>

    <h3>Teilnahme durch Delegation</h3>
    <ul>
    {% for p in data.delegating_voter.result %}
    <li>
      {{ p.issue_id|issue(True)|safe }} ({{fob.issue.id[p.issue_id].area_id|area(True)|safe}}) delegiert an {% for p2 in p.delegate_member_ids %}{{ p2|member(True)|safe }}
      {% if p.weight > 1 %}
      {{ (p2.weight-1)|delegation|safe }}
      {% endif %}
    </li>
    {% endfor %}
    {% else %}
    <li>keine Teilnahme durch Delegation</li>
    {% endfor %}
    </ul>

    <h3>Keine Teilnahme trotz Interesse</h3>
    <ul>
      {% for p in data.interest.result if fob.issue.id[p.issue_id].closed %}
      {% for p2 in data.vote.result if p.issue_id == p2.issue_id %}
      {% else %}
      {% for p3 in data.delegating_voter.result if p.issue_id == p3.issue_id %}
      {% else %}
      <li>{{p.issue_id|issue(True)|safe}} ({{fob.issue.id[p.issue_id].area_id|area(True)|safe}})</li>
      {% endfor %}
      {% endfor %}
      {% endfor %}
    </ul>

{% endblock %}
