{% extends "_base.html" %}

{% block title %}LQFB › Mitglieder{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Mitglieder</li>
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><i class="icon-user"></i> Mitglieder</h1>
    </div>

    <ul class="unstyled">
      {% for p in data.member.result|sort(attribute='name') %}
      {% if p.active %}
      <li>
        <strong>{{ p.id|member(True)|safe }}</strong>
        {% if p.admin %}
        <span class="label label-inverse">Admin</span>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
{% endblock %}
