{% extends "_base.html" %}

{% block title %}LQFB › Mitglieder{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Mitglieder</li>
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><i class="icon-user"></i> Mitglieder</h1>
    </div>

    <ul class="unstyled">
      {% for p in data.member.result if p.active %}
      <li><a href="/mitglieder/{{p.id}}"><i class="icon-user"></i>
      {% if p.name %}
      <strong>{{p.name}}</strong>
      {% else %}
      <strong>Mitglied {{p.id}}</strong>
      {% endif %}
      </a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
