{% extends "_base.html" %}

{% block title %}LQFB › Regelwerke{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Regelwerke</li>
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><i class="icon-book"></i> Regelwerke</h1>
    </div>

    <ul>
      {% for p in data.result %}
      <li><a href="/regelwerke/{{p.id}}"><strong>{{p.name}}</strong></a></li>
      {% endfor %}
    </ul>

  </div>
{% endblock %}
