{% extends "_base.html" %}

{% block title %}LQFB › Regelwerke › Regelwerk {{data.result[0].name}}{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/regelwerke">Regelwerke</a> <span class="divider">/</span></li>
    <li class="active">{{data.result[0].name}}</li>
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><small>Regelwerk</small><br><i class="icon-book"></i> {{data.result[0].name}}</h1>
    </div>

    {% if data.result.0.description %}
    <p class="lead">{{data.result[0].description}}</p>
    {% endif %}

    <h2>Fristen</h2>

    <div class="progress" style="height: 2.2em; line-height: 1.1em;">
      <div class="bar bar-primary" style="width: {{ data.result[0].id|policy_time_bars('admission_time') }}%;"><strong>neu</strong><br>maximal {{data.result[0].id|policy_time('admission_time')}}</div>
      <div class="bar bar-primary" style="width: {{ data.result[0].id|policy_time_bars('discussion_time') }}%;"><strong>Diskussion</strong><br>{{data.result[0].id|policy_time('discussion_time')}}</div>
      <div class="bar bar-info" style="width: {{ data.result[0].id|policy_time_bars('verification_time') }}%;"><strong>eingefroren</strong><br>{{data.result[0].id|policy_time('verification_time')}}</div>
      <div class="bar bar-warning" style="width: {{ data.result[0].id|policy_time_bars('voting_time') }}%;"><strong>Abstimmung</strong><br>{{data.result[0].id|policy_time('voting_time')}}</div>
    </div>

    <ul>
      <li>
        Phase Neu: maximal {{data.result.0.id|policy_time('admission_time')}} - {{data.result.0.id|end_of_phase('admission_time')|nicedate(timeago=False)}}
      </li>
      <li>
        Phase Diskussion: {{data.result.0.id|policy_time('discussion_time')}} - {{data.result.0.id|end_of_phase('discussion_time')|nicedate(timeago=False)}}
      </li>
      <li>
        Phase Eingefroren: {{data.result.0.id|policy_time('verification_time')}} - {{data.result.0.id|end_of_phase('verification_time')|nicedate(timeago=False)}}
      </li>
      <li>
        Abstimmphase: {{data.result.0.id|policy_time('voting_time')}} - {{data.result.0.id|end_of_phase('voting_time')|nicedate(timeago=False)}}
      </li>
    </ul>

    <h2>Quoren</h2>

    <ul>
      <li>Thema: ≥ {{ data.result[0].issue_quorum_num }}/{{ data.result[0].issue_quorum_den }} - Das Thema geht in die Diskussionsphase über, sobald eine Initiative die entsprechende Interessentenzahl erreicht.</li>
      <li>Initiative: ≥ {{ data.result[0].initiative_quorum_num }}/{{ data.result[0].initiative_quorum_den }} - Eine Initiative wird für die Abstimmung zugelassen, falls sie am Ende der Phase eingefroren mindestens diese Interessentenzahl erreicht.</li>
    </ul>

    <h2>Mehrheiten</h2>
    <ul>
      <li>direkte Mehrheit:
        {% if data.result[0].direct_majority_strict %}
        >
        {% else %}
        ≥
        {% endif %}
        {{ data.result[0].direct_majority_num }}/{{ data.result[0].direct_majority_den }}
      </li>
      <li>indirekte Mehrheit: 
        {% if data.result[0].indirect_majority_strict %}
        >
        {% else %}
        ≥
        {% endif %}
        {{ data.result[0].indirect_majority_num }}/{{ data.result[0].indirect_majority_den }}
      </li>
      <li>
        Mindestzahl an Zustimmungen für die Zulassung:
        {% if data.result[0].direct_majority_positive > 0 %}
        {{ data.result[0].direct_majority_positive }}
        {% else %}
        <em>Option nicht genutzt</em>
        {% endif %}
      </li>
      <li>
        Mindestzahl an nicht ablehnenden Stimmen für die Zulassung:
        {% if data.result[0].direct_majority_non_negative > 0 %}
        {{ data.result[0].direct_majority_non_negative }}
        {% else %}
        <em>Option nicht genutzt</em>
        {% endif %}
      </li>
    </ul>

    <h2>Weitere Optionen</h2>
    <ul>
      <li>{% if not data.result[0].no_reverse_beat_path %}kein {% endif %}rückwärts gerichteter Schlagpfad erlaubt</li>
      <li>{% if not data.result[0].no_multistage_majority %}keine {% endif %}mehrstufige Mehrheiten erlaubt</li>
    </ul>

  </div>
{% endblock %}
