{% extends "_base.html" %}

{% block title %}LQFB › Einstellungen{% endblock %}

{% block navigation %}
{{ super() }}
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Einstellungen</li>
  </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1><i class="icon-cog"></i> Einstellungen</h1>
    </div>

    <form class="form-horizontal" action="einstellungen" method="post">
      <fieldset>
        <legend>Zugangsdaten</legend>

        <div class="control-group">
          <label class="control-label">Zugangsberechtigung</label>
          <div class="controls">
            <span class="input-large uneditable-input"><i class="{{ helper.enums.access[session.current_access_level].icon}}"></i> {{ helper.enums.access[session.current_access_level].name }}</span>
            <p class="help-block">Gewisse Informationen im LiquidFeedback (z.B. die Liste aller <a href="/mitglieder">Mitglieder</a>) können nur angezeigt werden, wenn du die notwendige Zugangsberechtigung hast. Eine Authentifizierung ist momentan nur über einen sogenannten API-Schlüssel möglich.</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">API-Schlüssel</label>
          <div class="controls">
            <input class="input-large" id="api_key" value="{{ session.api_key }}" name="api_key" type="text" class="input-xlarge">
            <p class="help-block">Einen API-Schlüssel kannst du in den <a href="{{ helper.settings.lqfb_url }}/member/developer_settings.html" target="lqfb">Entwicklereinstellungen</a> erzeugen und hier ablegen. Ein API-Schlüssel besteht in der Regel aus 20 Zeichen.</p>
            <br>
            <p class="help-block">Bitte beachte: Der API-Schlüssel wird <strong>nicht</strong> auf unserem Server gespeichert, sondern in einem Cookie für einen Monat verschlüsselt in deinem Browser abgelegt. Er ist <strong>nicht</strong> für andere Nutzer abrufbar. Du kannst den API-Schlüssel jederzeit mit deinem Cookie löschen.</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"></label>
          <div class="controls">
            <button name="submit_key" class="btn btn-primary">API-Schlüssel speichern</button>
            <button name="delete_key" class="btn btn-danger">API-Schlüssel löschen</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
{% endblock %}
